.about {
  margin-bottom: 150px;
}

.container__about {
  width: 95%;
  max-width: 1262px;
  margin: 0 auto;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 548px;
  margin-right: 50px;
}

.about__title {
  font-family: "Trajan Pro 3";
  font-size: 60px;
  color: #536073;
  line-height: 1.353;
  margin-bottom: 100px;
}

.about__text {
  color: #626262;
  max-width: 548px;
}

.about__img {
  max-width: 615px;
  max-height: 592px;
}

.about__photo {
  width: 100%;
  height: auto;
}

.about__btn {
  width: 100%;
  display: none;
}

.about__mini {
  display: none;
  position: relative;
  background: #efefef;
  top: 10%;
  left: 0;
  height: 676px;
  padding: 20px 10px;
}

.mini__wrapper {
  background: #fff;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 30px 20px 25px 20px;
  height: 100%;
  overflow: scroll;
}

.mini__title {
  font: "Trajan Pro 3";
  font-size: 24px;
  color: #536073;
  margin-bottom: 20px;
}

.mini__text {
  font-size: 16px;
  line-height: 1.6;
}

.close__btn {
  position: absolute;
  top: 10%;
  right: 10%;
}
.close__btn::before {
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 3px;
  background: #536073;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.close__btn::after {
  content: "";
  top: 0;
  left: 0;
  display: block;
  width: 25px;
  height: 3px;
  background: #536073;
  -webkit-transform: translate(0%, -100%) rotate(135deg);
          transform: translate(0%, -100%) rotate(135deg);
}

@media (max-width: 992px) {
  .about__title {
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__info {
    margin-right: 0;
  }

  .about__title {
    font-size: 32px;
  }

  .about__text {
    display: none;
  }

  .about__img {
    margin-bottom: 20px;
  }

  .about__btn {
    display: block;
  }
}
@media (max-width: 460px) {
  .about {
    margin-bottom: 50px;
  }
}