.contact {
  background: #536073;
  padding-top: 120px;
}

.contact__conatiner {
  width: 95%;
  max-width: 280px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.contact__conatiner form {
  width: 100%;
}

.contact__title {
  color: #fff;
  margin-bottom: 60px;
}

.contact__name,
.contact__phone {
  width: 100%;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  height: 50px;
  padding: 13px 18px;
}
.contact__name::-webkit-input-placeholder, .contact__phone::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.contact__name::-moz-placeholder, .contact__phone::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}
.contact__name:-ms-input-placeholder, .contact__phone:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.contact__name::-ms-input-placeholder, .contact__phone::-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}
.contact__name::placeholder,
.contact__phone::placeholder {
  color: #fff;
  opacity: 0.7;
}

.contact__name {
  margin-bottom: 20px;
}

.contact__phone {
  margin-bottom: 26px;
}

.form__button {
  background: transparent;
  border: 1px solid #fff;
  width: 100%;
}

@media (max-width: 768px) {
  .contact__conatiner {
    margin-bottom: 60px;
  }
}